* {
  margin: 0;
}

#title {
  text-align: center;
}

#clear-board:active {
  background-color: red;
}

#button-container {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

#clear-board {
  margin: 0 auto;
  width: 100px;
  height: 30px;
  background-color: lightgray;
  text-align: center;
  vertical-align: middle;
}

#color-palette {
  display: flex;
  width: 100%;
  justify-content: center;
}

.color {
  border: 1px solid black;
  width: 50px;
  height: 50px;
  margin-right: 5px;
  margin-top: 20px;
}

#pixel-board {
  margin-top: 30px;
}

.linha {
  display: flex;
  justify-content: center;
}

.pixel {
  width: 40px;
  height: 40px;
  background-color: white;
  border: 1px solid black;
}

